h1,p {
  font-family: 'Comfortaa', cursive;
  padding-left: 5px;
}

p {
  display: inline-block;
}

ul {
  font-family: 'Comfortaa', cursive;
}

mark {
  background-color: #95dcf5;
  color: black;
}

#fplan {
  padding: 5px;
  width: 70%;
  display: inline-block;
  float: left;
}

#climate-button {
  font-family: 'Comfortaa', cursive;
  background-color: #FFFFFF;
}

#climate-button label {
    float:left;
    width:110px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:2px solid #000000;
    overflow:auto;
}

#climate-button label span {
    text-align:center;
    font-size: 14px;
    padding:2px 2px;
    display:block;
}

#climate-button label input {
    position:absolute;
    top:-20px;
}

#climate-button input:checked + span {
    background-color:#709c68;
    color:#F7F7F7;
}

#climate-button .on {
    background-color:#FFFFFF;
    color:#000000;
}

#climate-button .off {
    background-color:#FFFFFF;
    color:#000000;
}

.info {
   margin: 0px;
   display: inline-block;
 }

 .info a{
   font-size: 22px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   margin: 0 10px;
   display: inline-block;
 }

#info-box1 {
  height: 350px;
  width: 316px;
  padding-right: 29px;
  margin-top: 5px;
  background-color: #FFFFFF;
  border: solid 3px;
  border-radius: 7px;
  display: inline-block;
  float: right;
  margin-right: 105px;
}

#info-box2 {
  height: 100px;
  width: 316px;
  padding-right: 29px;
  margin-top: 5px;
  background-color: #FFFFFF;
  border: solid 3px;
  border-radius: 7px;
  display: inline-block;
  float: right;
  margin-right: 105px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 50px;
  top: 50px;
  width: 75%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#recs {
  font-family: 'Comfortaa', cursive;
  background-color:#709c68;
  color: #FFFFFF;
  border:2px solid #000000;
  padding-left: 2px;
  margin-left: 5px;
  border-radius: 3px;
}

/* Modal Content */
.modal-content {
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
  border: 3px solid #000000;
  width: 80%;
  font-family: 'Comfortaa', cursive;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.weatherwidget-io {
  width: 316px;
  margin-top: 40px;
  border-radius: 3px;
}

/*slider bar stuff*/

.range {
  margin-top: 400px;
  margin-right: 1090px;
  position: relative;
  width: 1090px;
  height: 5px;
  float: bottom:
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #709c68;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #709c68;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #709c68;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #75cf67;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #75cf67;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #75cf67;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #709c68;
  font-size: 14px;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #709c68;
  border-radius: 50%;
}
.range-labels .active {
  color: #709c68;
}
.range-labels .selected::before {
  background: #709c68;
}
.range-labels .active.selected::before {
  display: none;
}
